/target
**/*.rs.bk
output.txt
output-neo-ring.txt
output-sum-check.txt
output-ring.txt
output-neo-fold.txt
flamegraph.svg
rust_bench.txt
sim_bench.txt
output-small.txt
output-fri.txt
output-fields.txt
output-fold.txt
only-sum-check.txt
output-commit.txt
css-output.txt
output-spartan-integration.txt
/*.txt
fib_proof_1000.bin
fib_proof_1000.bin
fib_proof_10.bin
test_bundled.bin
test_lean.bin
profile.json.gz
.DS_Store
