docs/.DS_Store
target
.DS_Store
proof.bin
starstream-profile.trace
profile-xctrace.trace
profile-xctrace-sym.trace
profile-xctrace-user.trace
profile-xctrace-user-sym.trace
crates/neo-fold/sha256-tests/circuit-cache
dist
